body {
    background-color: rgb(253, 251, 251);
    margin: 0;
    font-family: Verdana,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

a {
    clear: both;
    position: relative;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8%;
    top: 15px;
    font-weight: 600;
}
a img {
    position: relative;
    top: 5px;
    margin: 0;
}
#cabecalho {
    background-color: #2fc18c;
    color: white;    
    width: 100%;
    position: fixed;
    top: 0;
}

#licoes_aprendidas, #licoes_a_aprender{
    float: left;
}

#rodape {
    clear:both;
    padding: 10px;
}

.lado-esquerdo {
    border: black dotted 1px;
    width: 48%;
    float:left;
    margin: 1px;
}

.lado-direito {
    border: black dotted 1px;
    float: right;
    width: 48%;
    margin: 1px;
}

.header-title {
    float: right;
    margin-right: 50px;
}