body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: Verdana, Arial, Helvetica Neue, Helvetica, sans-serif;
  color: rgb(70, 70, 70);
}

a {
  clear: both;
  position: relative;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 8%;
  font-weight: 600;
}

h1 {
  margin: 0;
}

header h1 {
  float: right;
}

header a img {
  position: relative;
  top: 10px;
  right: 6px;
  margin: 0;
  z-index: -1;
}

main {
  margin-top: 70px;
}

table {
  margin: 25px auto;
  display: inline-block;
  border-collapse: collapse;
  font-size: 20px;
  border: none;
  background-color: rgba(121, 121, 121, 0.329);
}

th {
  background-color: rgb(47, 193, 140);
}

th , td {
  margin: 0;
  padding: 10px;
  border: rgb(47, 193, 140) solid 1px;
}

tr , nav li a {
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

tr:hover {
  background-color: rgb(165, 165, 165);
}

nav ul {
  margin-top: 25px;
}

nav li {
  display: inline-block;
  transition: 500ms;
}

nav li:hover a {
  color: rgb(209, 209, 209);
}

.clear {
  clear: both;
}

#cabecalho {
  background-color: rgb(47, 193, 140);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 5;
}

#titulo {
  font-size: 30px;
  margin: 0;
}

#minha_foto {
  float: left;
  margin: 5px 30px;
  border: rgb(175, 175, 175) solid 2px;
  border-radius: 50%;
  transition: 1000ms;
}

.quem_sou_eu:hover #minha_foto {

  /* transition: 1000ms; */
  border-radius: 20%;
  border: rgb(47, 193, 140) solid 3px;
}

#img_container {
  width: 300px;
  margin-left: 200px;
  transition: 2000ms;
}

.quem_sou_eu {
  width: 100%;
  transition: 3000ms;
}

.quem_sou_eu:hover #img_container {

  /* transition: 2000ms; */
  margin-left: 30px;
}

#descricao {
  text-align: center;
  padding: 90px;
}

.quem_sou_eu #paragrafo {
  font-size: 20px;
  font-weight: 600;
  left: 500px;
  opacity: 0;
  position: absolute;
  transition: 3000ms;
  width: 600px;
  z-index: -2;
}

.quem_sou_eu h1 {
  color: rgb(83, 83, 83);
  left: 720px;
  margin-top: 80px;
  position: absolute;
  transition: 1500ms;
  z-index: -1;
}

.quem_sou_eu:hover h1 {

  /* transition: 2000ms; */
  color: rgb(47, 193, 140);
  margin-top: -20px;
}

.quem_sou_eu:hover #paragrafo {

  /* transition: 5000ms; */
  color: rgb(47, 193, 140);
  display: block;
  left: 500px;
  opacity: 100;
}

.quem_sou_eu:hover {

  /* transition: 3000ms; */
  background-color: rgba(218, 218, 218, 0.329);
}

#listas_licoes {
  text-align: center;
  padding-top: 20px;
}

#listas_licoes div {
  width: 710px;
  margin: 10px auto;
}

#licoes_aprendidas , #licoes_a_aprender {
  float: left;
  line-height: 25px;
  border: solid rgb(47, 193, 140) 1px;
  font-size: 20px;
  width: 282px;
  margin: 15px;
  background-color: rgba(121, 121, 121, 0.329);
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#listas_licoes h2:nth-of-type( 1 ) {
  display: inline-block;
  position: relative;
  left: -13px;
  top: 25px;
  z-index: -0;
  padding: 20px 85.7px;
  margin: 0;
  background-color: rgb(47, 193, 140);
}

#listas_licoes h2:nth-of-type( 2 ) {
  display: inline-block;
  position: relative;
  left: 12px;
  top: 25px;
  padding: 20px 87.4px;
  margin: 0;
  background-color: rgb(47, 193, 140);
}

#licoes_aprendidas:hover , #licoes_a_aprender:hover {
  background-color: rgb(165, 165, 165);
}

#aprendizado {
  padding: 40px;
  text-align: center;
}

#aprendizado h1 {
  font-size: 25px;
}

#rodape {
  clear: both;
  padding: 10px;
  font-weight: 600;
  font-size: 7px;
}

.header-title {
  float: right;
  margin-right: 50px;
}

.lado-esquerdo {
  width: 60%;
  float: left;
  margin: 1px;
  font-size: 18px;
}

.lado-direito {
  background-color: rgb(47, 193, 140);
  float: right;
  width: 30%;
  margin: 1px;
  font-size: 16px;
  padding: 10px;
  border: rgb(47, 193, 140) solid 1px;
}

.container_tabela {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

section:nth-child( 2n ) {
  background-color: rgba(218, 218, 218, 0.329);
}
