*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
}

#titulo{
    color: #fff;
}